@using CrudAssignment.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $('#navigation').hide();
        document.body.style.background = "url(/Content/images/login/login_bg.jpg) no-repeat top center";
    </script>
}

<div class="col-md-8 col-md-offset-2">
    <div class="col-md-10 col-md-offset-1">
        <div id="logo-login">
            <a href="@Url.Action("Index", "Product")"><img src="/Content/images/shared/logo.png" width="156" height="40" alt="" /></a>
        </div>
    </div>
    <div class="col-md-10 col-md-offset-1">
        <div id="loginbox">
            <div id="login-inner">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <table cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <th>@Html.LabelFor(m => m.UserName)</th>
                                <td>
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "login-inp" })
                                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <th>@Html.LabelFor(m => m.Password)</th>
                                <td>
                                    @Html.PasswordFor(m => m.Password, new { @class = "login-inp" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <th></th>
                                <td valign="top">
                                    @Html.CheckBoxFor(m => m.RememberMe, new { @class = "checkbox-size" })
                                    @Html.LabelFor(m => m.RememberMe)
                                </td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input type="submit" class="submit-login">
                                    <br/>
                                    <section id="socialLoginForm">
                                        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                                    </section>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>